
#centered_small_icon {
    background-color   : green;
    width: 200px;
    height: 200px;
    margin: 10px;
    margin
}

#green_line{
    background-color: blue;
    margin
}

#full_width_icon{
    width: 200px;
    height: 200px;
    margin: 10px;
    margin
}

#repeated_icon{
    width: 200px;
    height: 200px;
    margin: 10px;
    margin
}

