#figure1 {
    border: 1px solid black;
    height: 150px;
    width: 150px;

}

#figure2 {
    border: 4px solid black;
    padding: 20px;
}

#figure3 {
    border: 1px solid red;

}

#figure4 {

}

#figure5 {
    border: 1px solid black;
    padding: 0px 0px 0px 50px ;

}

#figure6 {
    border: 1px solid black;
    margin-left: 50px;
}

#figure7 {
border: 4px solid aqua;
    border-radius: 5px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

#figure8 {

}
