nav {
    background-color: lightblue;
    display: flex;
}

main{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    padding: 10px;

}

#first{
    display: flex;
    justify-content: space-between;
}

#second{
    display: flex;
    flex-direction: column-reverse;
}

#third{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#forth .button{
    background-color: lightgreen;
    margin: 10px;
    flex-grow: 1;
}
#forth .b2{
    flex-grow: 2;
}
#forth .b3 {
    order: -1;
}
#forth {
    display: flex;
}
