.box{
    background-color: #CFE8DC;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: 100px;

}
#flotar_esquerra{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#flotar_dreta{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.new_section{
    clear: both;
}
