p{
    border: solid black 1px;
}

#figure1{
    background-color: #20B2AA;
}
#figure2{
    background-color: #ff7f70;
}
#figure3{
    background-color: antiquewhite;
    padding: 5px;
}

@media (min-width: 600px){
    #figure1{
        font-weight: bold;
        font-size: 50px;
    }
    #figure3{
        padding: 100px;
    }
}

@media (max-width: 600px) {
    #figure2{
        display: none;
    }
}
